body{
    margin: 0 auto;
    width: 100%;
    background: url(https://images.unsplash.com/photo-1516528387618-afa90b13e000?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Zm9uZCUyMGRlJTIwanVuZ2xlfGVufDB8fDB8fHww&fm=jpg&q=60&w=3000) center/cover no-repeat ;
    background: blur(8px);
}

/* header */
header{
    display: flex;
    flex-direction: column;
    background: url(bg.jpg) no-repeat center;
    background-size: cover;
    height: 300px;
    text-align: center;
    color: #fff;
    padding: 10px;
}

img{
    width: 150px;
    margin-left: 2%;
    margin-right: 2%;
}
nav{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: space-between;
    width: 50%;
    z-index: 1;
}
a{
    padding: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 20px;

}
/* icon */
.icon{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 80%;
    margin: 5% 5% 5% 10%;
    text-align: center;
}

.awesome{
    color: rgb(14, 212, 14);
    font-size:xx-large;
    padding: 10px;
    
}

.icon div>span{
    color: #fff;
}

/* article et main */

article{
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
div>h1{
    color: #fff;
}

/* section 1 */
.N{
    text-decoration:5px underline #ADD981;
}
.ventes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.ventes div:not(.banniere){
    flex: 0 0 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    
}
.ventes>div:nth-child(1){
    background: url(1.jpg) center/ cover no-repeat;
}
.ventes>div:nth-child(2){
    background: url(2.jpg) center/ cover no-repeat;
}
.ventes>div:nth-child(3){
    background: url(3.jpg) center/ cover no-repeat;
}
.ventes>div:nth-child(4){
    background: url(4.jpg) center/ cover no-repeat;
}

.banniere{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 5px;
    font-size: smaller; 
    background-color: #FFFFFFDF; 
    
}
.plus{
    position: absolute;
    margin-left: 80px;
    margin-top: 5px;
    background-color: #ADD981;
    padding: 5px;
    border-radius: 20px;
    color: white;
    font-size: xx-small;
}
.plantes{
    margin-left: 10px;
}
.prix{
    margin-left: 10px;
    font-size: xx-small;
    color:#ADD981;
}
/* section 2 */
.article-2{
    padding-bottom: 100px;
}
.N{
    text-decoration:5px underline #ADD981;
}
.deco{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
.deco div:not(.banniere){
    flex: 0 0 150px;
    height: 200px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: end;
    
}
.deco>div:nth-child(1){
    background: url(1-2.jpg) center/ cover no-repeat;
}
.deco>div:nth-child(2){
    background: url(2-2.jpg) center/ cover no-repeat;
}
.deco>div:nth-child(3){
    background: url(3-2.jpg) center/ cover no-repeat;
}
.deco>div:nth-child(4){
    background: url(4-2.jpg) center/ cover no-repeat;
}
.deco>div:nth-child(5){
    background: url(5.jpg) center/ cover no-repeat;
}
.deco>div:nth-child(6){
    background: url(6.jpg) center/ cover no-repeat;
}

/* footer */
footer{
    margin: 40px;
    color: #fff;
}
footer>span{
    position: relative;
    float: right;
    margin-right: 40px;
}
/* annimation */
.ventes div,
.deco div {
    /* AJOUT pour rendre l’animation fluide */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.ventes div:hover,
.deco div:hover {
    transform: scale(1.08);   /* Zoom fluide */
    box-shadow: 8px 6px 20px rgba(122, 229, 154, 0.9);
}

@media (max-width:768px){
    header>h1{
        
        margin-left: 20px;
        width: 30%;
    }
    nav{
    display: flex;
    justify-content: center;
    position: fixed;
    top: 40px;
    left: 60%;
    transform: translateX(-50%);
    gap: 10px;
    width: 100%;
    z-index: 1;
    }
    a{
    padding: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 20px;
    }
    .ventes{
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    }
    .deco{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 70%;
    
    }
}

@media (max-width:539px){
     nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 40px;
    left: 80%;
    transform: translateX(-50%);
    gap: 50px;
    width: 100%;
    z-index: 1;
    }
    a{
    padding: 10px;
    text-decoration: none;
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    backdrop-filter: blur(2px);
    border-radius: 20px;

    }

}